@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

/* Global Settings */
* {
  margin: 0;
  padding: 0;
  color: white;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
  scroll-behavior: smooth;
  color-scheme: dark;
  background-color: #233843;
}

/* Custom CSS Variables */
:root {
  --color-primary: #3498db;
  --color-secondary: #e74c3c;
  --color-accent: #f39c12;
  --color-bg: #233843;
  --color-text: #2c3e50;
  --color-ecru: #ecbd9a; /* New Variable for Ecru */
  --color-peach: #ffe6ca; /* New Variable for Peach */
}

/* Body Style */
body {
  background-color: var(--color-bg);
  color: var(--color-text);
}

/* Button Styles */
.btn-blue {
  background-color: var(--color-ecru); /* Using Ecru Color Variable */
  color: rgb(75, 71, 71);
  padding: 8px 16px;
  border-radius: 8px;
  text-decoration: none;
  font-size: 1.2rem;
}

.btn-red {
  background-color: var(--color-peach); /* Using Peach Color Variable */
  color: rgb(75, 71, 71);
  padding: 8px 16px;
  border-radius: 8px;
  text-decoration: none;
  font-size: 1.2rem;
}
